.biomedicalservice .title::after{
    content: "Blood & Diagnostic Testing";
}
.biomedicalservice .biomedicalservice-content .column{
    width: calc(50% - 30px);
}
.biomedicalservice .biomedicalservice-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.biomedicalservice .biomedicalservice-content .left p{
    text-align: justify;
}
.biomedicalservice .biomedicalservice-content .left a{
    display: inline-block;
    background: rgb(253, 0, 0);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;

}
.biomedicalservice .biomedicalservice-content .left a:hover{
    color: rgb(255, 0, 0);
    background: none;
}
.biomedicalservice .biomedicalservice-content .right .bars{
    margin-bottom: 15px;
}
.biomedicalservice .biomedicalservice-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.biomedicalservice .biomedicalservice-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.biomedicalservice .biomedicalservice-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.biomedicalservice .biomedicalservice-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(255, 0, 0);
}
.biomedicalservice-content .right .O::before{
    width: 37.4%;
}
.biomedicalservice-content .right .A::before{
    width: 35.7%;
}
.biomedicalservice-content .right .B::before{
    width: 8.5%;
}
.biomedicalservice-content .right .AB::before{
    width: 3.4%;
}
.biomedicalservice-content .right .O-::before{
    width: 6.6%;
}
.biomedicalservice-content .right .A-::before{
    width: 6.3%;
}
.biomedicalservice-content .right .B-::before{
    width: 1.5%;
}
.biomedicalservice-content .right .AB-::before{
    width: 0.6%;
}
