.service .title::after{
    content: "Therapy Solutions";
}
.service .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.service .card:hover{
    background: rgb(255, 0, 0);
}
.service  .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.service  .card:hover .box{
    transform: scale(1.05);
}
.service  .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.service .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(255, 0, 0);
    transition: all 0.3s ease;
}
.service .card:hover img{
    border-color: #fff;
}




